<div class="component-container">
    <form action="" class="search-country">
        <span>
            <fa-icon [icon]="faSearch" class="icon"></fa-icon>
            <input
            #searchInput
            type="search" class="search" placeholder="Search for a country..."
            (input)="search(searchInput.value)">
        </span>
        <select #filterInput class="filter" (change)="filterChange(filterInput.value)">
            <option value="none">Filter By Region</option>
            <option value="africa">Africa</option>
            <option value="america">America</option>
            <option value="asia">Asia</option>
            <option value="europe">Europe</option>
            <option value="oceania">Oceania</option>
        </select>
    </form>
</div>
