<div class="component-container">
    <form action="" class="search-country">
        <span>
            <fa-icon [icon]="faSearch" class="icon"></fa-icon>
            <input type="search" class="search" placeholder="Search for a country...">
        </span>
        <select class="filter">
            <option value="none">Filter By Region</option>
            <option value="africa">Africa</option>
            <option value="america">America</option>
            <option value="asia">Asia</option>
            <option value="europe">Europe</option>
            <option value="oceania">Oceania</option>
        </select>
    </form>
</div>
