/* You can add global styles to this file, and also import other style files */
:root{
    --font-family-global: 'Nunito Sans';
    --bg: hsl(207, 26%, 17%); /* hsl(0, 0%, 98%) */
    --bg-elements: hsl(209, 23%, 22%); /* hsl(0, 0%, 100%) */
    --color-text: hsl(0, 0%, 100%); /* hsl(200, 15%, 8%) */
    --color-input: hsl(0, 0%, 100%); /* hsl(0, 0%, 52%) */
}

::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}

body{
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-family: var(--font-family-global);
}
h2{
    margin: 0%;
}
figure{
    margin: 0px;
    padding: 0px;
}
img{
    object-fit: contain;
}
a{
    text-decoration: none;
}
input, select, option{
    outline: 0px;
}
ul{
    padding: 0px;
    list-style: none;
}

::-webkit-scrollbar-thumb{
    background-color: var(--dark-blue_dark_mode_elements);
}
body{
    background-color: var(--bg);
    color: var(--color-text);
}
a{
    color: var(--color-text);
}
input::placeholder{
    color: var(--color-input);
}
input, select{
    color: var(--color-input);
}
.country-container a > div{
    background-color: var(--bg-elements);
}
.back{
    background-color: var(--bg-elements);
}
.neighbor{
    background-color: var(--bg-elements);
}
